$primary-color: #bb6da1e1;
$secondary-color: #2c3e50;
$font-stack: 'Arial', sans-serif;
$text-color: #ffffff;
$contrast-color: #f4f4f4;
$focus-outline: #ffcc00;
$back-color: #a8a2a2;
$link-color: #ECDFEBE1;

