@use '../utils/variables' as *; // Ensure variables are available
@use "sass:color";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  color: $secondary-color;
  background-color: $contrast-color;
}